# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary execution files
*.res
*.pop

# Temporary execution folders
bin
results

# Ninja build system
build.ninja
.build_info
.ninja_deps
.ninja_log

# KDevelop
.kdev4

# VSCode
*.code-workspace

# Pyton Virtual Enviroment
.Ateams/
Ateams.egg-info/
__pycache__/
